<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not user.password %}
        Kindly add a password to be used in future logins
    {% endif %}
    <p>Email: {{user.email}}</p>
    <p>Name: {{user.first_name}}</p>
    {% if not user.password %}
    <form method="POST">
        {% csrf_token %}
        <input type = 'password' name = 'password' placeholder="Password">
        <input type='password' name='password_conf' placeholder="Confirm Password">
        <input type='submit' value="Set Password">
    </form>
    {% endif %}
</body>
</html>